---
const {size} = Astro.props

const getContainerSize = () => {

    const sizes = {
        wd: "wide",
        nm: "normal"
    }

    return sizes[size]
}

---

<div class={"container" + " " + getContainerSize()}>
    <slot/>
</div>

<style>
    .container {
        margin-inline: auto;
    }

    .normal {
            max-width: 1636px;
    }

    .wide {
        max-width: 1920px;
    }
</style>