---
import Title from "../UI/Titles/Title.astro";
import "./grid.css"
import Card from "./Card.astro";

const cards = [
    {
        title: "Первая карточка",
        description: "CSS — это язык описания внешнего вида документа, то есть он отвечает за то, как выглядят веб-страницы: цвет фона и декоративных элементов, размер и стиль шрифтов. Термин расшифровывается как Cascading Style Sheets (каскадные таблицы стилей). CSS взаимодействует с другим языком разметки — HTML, который отвечает за размещение элементов на странице."
    },
    {
        title: "Вторая карточка",
        description: "HTML — язык разметки для создания структуры веб-страницы и представления контента. Благодаря разметке браузер знает в каком порядке отображать элементы, и что они значат. Чаще всего работает в связке в CSS"
    },
    {
        title: "Третья карточка",
        description: "React -  это JavaScript-библиотека для создания пользовательских интерфейсов. Обратите внимание, что это именно библиотека, а не фреймворк. "
    },
    {
        title: "Четвёртая карточка",
        description: "JavaScript – это язык программирования, который используют разработчики для создания интерактивных веб-страниц. Функции JavaScript могут улучшить удобство взаимодействия пользователя с веб-сайтом."
    },
    {
        title: "Пятая карточка",
        description: "TypeScript — это строго типизированный язык программирования, построенный на JavaScript. Разработчики добавили в него дополнительные возможности, такие как статическая типизация, классы и модули, чтобы создавать более надежные и поддерживаемые программы."
    },
]
---
<section class="grid">
    <Title variant="lg" class="grid-title">А тут другие прикольные карточки</Title>
    <div class="grid-body">
        {cards.map(card => <Card title={card.title} description={card.description}/> )}
    </div>
</section>