<div class="backdrop-blur">
</div>

<style>
    .backdrop-blur {
        position: absolute;
        z-index: -10;
        inset: 0;
        backdrop-filter:  blur(45px);
        border-radius: 24px;
    }
</style>