---
const {class: externalStyles, variant, ...rest} = Astro.props;

const getClassname = () => {

    const styles = {
        lg: "large",
        md: "medium"
    }

    return externalStyles
        ? `${externalStyles} ${styles[variant]}`
        : `${styles[variant]}`
}
---

<h2 class={getClassname()} {...rest}>
    <slot/>
</h2>

<style>

    .medium {
        font-size: clamp(20px, 1.88vw, 36px);
        font-weight: 700;
    }

    .large {
        font-size: clamp(26px, 2.2vw, 42px);
        font-weight: 600;
    }
</style>