---
import Layout from '../layouts/Layout.astro';
import Button from '../components/UI/Button/Button.astro';
import TitleBig from "../components/UI/Titles/TitleBig.astro";
import Link from "../components/UI/Links/Link.astro";
---

<Layout>
    <Button>Просто кнопка</Button>
    <TitleBig>DSFSFas</TitleBig>
    <Link>Sdfsdf</Link>
</Layout>
