---
import Logo from "../UI/Logo/Logo.astro";
import Container from "../UI/Container/Container.astro";
import Link from "../UI/Links/Link.astro";
import "./footer.css"


---

<footer>
    <Container size="nm">
        <div class="footer-inner">
            <Logo/>
            <div class="footer-credits">
                designed by
                <Link target="_blank" class="footer-link" href="https://oxee.su/">
                    oxee
                </Link>
            </div>
        </div>
    </Container>
</footer>
