footer {
    background-color: #171717;

}

.footer-link {
    color: #EF4444;
    text-decoration: underline;
}

.footer-inner {
    padding: 47px 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-credits {
    font-weight: 500;
    color: #FFFFFF;
}

@media (max-width: 789px) {
    .footer-inner {
        padding: 30px 0;
    }
}